# Ignore compiled Python files
InvoiceProcessing/InvoiceProcessing/__pycache__/*
InvoiceProcessing/__pycache__/*
invoice/__pycache__/*
invoice/management/commands/__pycache__/*
invoice/migrations/__pycache__/*

# 忽略 Django 特定文件
*.sqlite3
staticfiles/
# Ignore Redis database snapshot files
dump.rdb
.DS_Store
# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore testing coverage file 
coverage