.form-container {
  height: 100%;
  display: flex;
  justify-content: start;
  gap: 40px;
  flex-direction: column;
  overflow: auto;
  padding-top: 40px;
  padding-left: 110px;
  padding-right: 90px;
}

.details-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.title-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.details-title {
  font-size: 36px;
  font-family: "Lexend Deca", sans-serif;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
}

.inputs-group {
  display: flex;
  justify-content: start;
  gap: 22px;
  flex-direction: column;
  width: 100%;
}

.title-and-input {
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
  font-family: "Lexend Deca", sans-serif;
  color: #424242;
  font-weight: 300;
  font-size: 18px;
}

.datepicker-groups {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.create-datepicker {
  width: 49.5%;
}

.currency-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
}

.currency-container img {
  max-height: 16px;
  width: auto;
  margin-right: 3px;
}
.currency-texts {
  display: flex;
  justify-content: start;
  gap: 3px;
  flex-direction: row;
}
.currency-bond {
  font-weight: 500;
}

.currency-select .ant-select-selection-item {
  display: flex;
  align-items: center;
}

.currency-select .ant-select-selection-item .currency-container {
  display: flex;
  align-items: center;
}

.currency-select .ant-select-selection-item .currency-container img {
  max-height: 16px;
  width: auto;
  margin-right: 3px;
}

.currency-select .ant-select-selection-item .currency-texts {
  display: flex;
  flex-direction: row;
}

.currency-select .ant-select-selection-item .currency-bond {
  font-weight: 500;
}

.items-container {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 8px;
  padding-left: 1.5%;
}

.items-title {
  display: flex;
  justify-content: start;
  flex-direction: row;
  font-family: "Lexend Deca", sans-serif;
  color: #424242;
  font-weight: 300;
  font-size: 14.5px;
}

.blank-area{
    height: 80px;
    background-color: transparent;
}

.custom-form-item {
  margin-bottom: 0;
}

.custom-form-item.has-error {
  margin-bottom: 1px; /* 或者你想要的任何值 */
}
.custom-form-item.custom-error .ant-input {
  border-color: #ff4d4f; /* 红色边框 */
}

.custom-form-item.custom-error .ant-form-item-explain-error {
  color: #ff4d4f; /* 红色错误信息 */
}

/* 聚焦时的样式 */
.custom-form-item.custom-error .ant-input:focus,
.custom-form-item.custom-error .ant-input-focused {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}

/* 悬停时的样式 */
.custom-form-item.custom-error .ant-input:hover {
  border-color: #ff7875;
}