.user-info-in-table{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.user-avatar-in-table{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-details-in-table{
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight: 400;
}

.user-email-in-table{
    font-weight: 300;
}