  .file-upload-progress {
    background-color: #F2F5F7;
    display: flex;
    flex-direction: column;
    width: 28vw;
    height: 10vh;
    max-width: 400px;
    border-radius: 7px;
    margin-top: 1vh;
    justify-content: center;
  }
  
  .file-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    padding: 0 15px;
  }
  
  .file-name-icon-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    gap: 15px;
    margin-right: 10px; /* 为取消按钮留出空间 */
  }
  
  .file-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
  }
  
  .file-name {
    font-size: calc(0.6vw + 0.6vh);
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-size {
    font-size: calc(0.5vw + 0.5vh);
    color: #666;
  }
  
  .image-icon {
    width: 40px; 
    height: 40px; 
    flex-shrink: 0; 
    object-fit: contain;
  }

  /* 新增样式 */
.cancel-button {
  flex-shrink: 0; /* 防止按钮被压缩 */
}