.admin-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Lexend Deca", sans-serif;
}

.admin-table-container table th {
  text-align: left;
  /* border-bottom: 1px solid #e0e0e0; */
  padding: 12px 16px;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: "Lexend Deca" sans-serif;
  color: #acacac;
  font-size: 14.5px;
  font-weight: 600;
}
.admin-table-container table thead tr {
  background-color: #f9f9f9;
}
.admin-table-container table td {
  /* border-bottom: 1px solid #e0e0e0; */
  padding: 12px 16px;
  vertical-align: middle;
  box-sizing: border-box;
  color: rgba(172, 172, 172, 0.9);
  font-size: 14px;
  font-weight: 400;
  font-family: "Lexend Deca" sans-serif;
}

/*checkbox*/
.admin-table-container table th:nth-child(1),
.admin-table-container table td:nth-child(1) {
  width: 3%;
}
/*ID.No*/
.admin-table-container table th:nth-child(2),
.admin-table-container table td:nth-child(2) {
  width: 16%;
}
/*Client*/
.admin-table-container table th:nth-child(3),
.admin-table-container table td:nth-child(3) {
  width: 14%;
}
/*State*/
.admin-table-container table th:nth-child(4),
.admin-table-container table td:nth-child(4) {
  width: 10%;
}
/*CreateAt*/
.admin-table-container table th:nth-child(5),
.admin-table-container table td:nth-child(5) {
  width: 11%;
}
/*Uploader*/
.admin-table-container table th:nth-child(6),
.admin-table-container table td:nth-child(6) {
  width: 24%;
}
/*Price*/
.admin-table-container table th:nth-child(7),
.admin-table-container table td:nth-child(7) {
  width: 10%;
}
/*Actions*/
.admin-table-container table th:nth-child(8),
.admin-table-container table td:nth-child(8) {
  width: 12%;
}

.admin-invoice-title {
  font-size: calc(1.8vw + 1.8vh);
  font-weight: 500;
  color: #333;
  font-family: "Lexend Deca", sans-serif;
  padding-top: 10px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  gap:10px;
}
.statistics-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: calc(9.3vh + 6vw);
}

.statistics-box-inside {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3.5%;
  padding-left: 4%;
  padding-right: 3.5%;
  gap: 5px;
}

.statistics-title {
  width: 100%;
  color: rgba(172, 172, 172, 0.9);
  font-weight: 330;
  font-size: calc(0.6vw + 0.55vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.statistics-correct-icon{
	border-radius: 50%;
	background-color: #E7F7EC;
	padding: 10px;
  height: 4.5vh;
  width: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics-loading-icon{
	border-radius: 50%;
	background-color: #FFD4D4;
	padding: 10px;
  height: 4.5vh;
  width: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-dollor-icon{
	border-radius: 50%;
	background-color: #FFF5E7;
	padding: 10px;
  height: 4.5vh;
  width: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-user-icon{
	border-radius: 50%;
	background-color: #F9F9F9;
	padding: 10px;
  height: 4.5vh;
  width: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-amount {
  width: 100%;
  color: #333;
  font-size: calc(1.6vw + 1.6vh);
  font-weight: 500;
}

.statistics-tag {
  font-size: calc(0.5vw + 0.5vh);
  display: inline-block;
  width: fit-content;
  color: #333;
  padding: 2px 8px;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.admin-search-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
}

.payment-search{
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  font-weight: 300;
  border-bottom: #e0e0e0 1px solid;
  padding-bottom: 15px;
}

.payment-status-box{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: end;
  cursor: pointer;
  position: relative;
}

.payment-status-box.selected::after {
  content: '';
  position: absolute;
  bottom: -16.5px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #333;
}

.bold-text {
  font-weight: 500;
}

.all-payment-tag{
  display: inline-block;
  width: fit-content;
  color: #333;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.paid-payment-tag{
  display: inline-block;
  width: fit-content;
  color: #18601F;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 15px;
  background-color: #E7F7EC;
}

.unpaid-payment-tag{
  display: inline-block;
  width: fit-content;
  color: #7C4706;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 15px;
  background-color: #FFF5E7;
}

.overview-info-icon{
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.admin-search-row-left{
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
}

.admin-search-input{
  width: 19vw;
}

.admin-search-row-right{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}