.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    }

.title {
    margin-top: 1.8%;
    font-size: 56px;
    font-weight: 800;
    color: #333;
    }