.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    flex-direction: column;
    }

.head-title-div{
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    flex-direction: column;

}
.title {
    font-size: calc(2.2vw + 2.2vh);
    font-weight: 800;
    color: #333;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

.type{
    color: #A7A7A7;
    font-size: calc(0.9vw + 0.9vh);
}