.card-selector-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
}

.card-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: row;
  }
  
  .card {
    width: 16vw;
    height: 35vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:calc(0.1vw + 0.5vh);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border: #E4E4E7 1px solid;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
  }
  
  .card.selected {
    border: none;
    background-color: #333;
    color: white;
  }
  
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
  }
  .card-icon {
    font-size: calc(2vw + 2vh);
    margin-bottom: 10px;
  }
  
  .card-title {
    font-family: 'Lexend Deca', sans-serif;
    font-size: calc(1.1vw + 1.1vh);
    font-weight: 500;
  }